<!DOCTYPE html>

<html lang="en">

<%- include('head.ejs', { title: 'Client Offer' , stylesheet: '/css/completed-client-offer.css' }) %>

<body>
  <%-include('navbar.ejs', {user: user})%>

 <div class="container">

  <div class="dash-content">


   <h1 class="Clienttext">CLIENT OFFER</h1>
   <br><br>


   <div class="main-skills">
    <label for="wordDescription" class="TextSize">Word Description <span class="required-indicator"></span></label>
    <%=offer.description%>
    <br>
    <br>

    <label for="numberOfWork" class="TextSize">Estimate the number of work<span
      class="required-indicator"></span></label>
    <%=offer.hours%>

    <br>
    <br>

    <label for="requiredMaterials" class="TextSize">Required Materials</label>
    <%=offer.material%>

    <br>
    <br>

    <label for="additionalComments" class="TextSize">Additional Comments</label>
      <%=offer.comments%>
   </div>


  </div>


 </div>

</body>

</html>