<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs', { title: 'Notifications' , stylesheet: '/css/notif.css' }) %>

  <body>
    <%- include('navbar.ejs', { user: user }) %>
      <div class="notifcontainer">
        <div class="notifnav ">
        <ul>
          <li><a href="#" class="notiflogo notifa">
              <% if (profile.profile_img){ %>
                <img src="/uploads/<%=profile.profile_img%>" alt="Profile">
                <% } else { %>
                  <img src="/images/default.jpg" alt="Profile">
                  <% } %>
                    <span class="notifnav-item">DashBoard</span>
            </a>
          </li>
          <li>
            <a href="/profile" class="notifa">
              <i class="fas fa-bell"></i>
              <span class="notifnav-item">Profile</span>
            </a>
          </li>
        
          <li>
            <a href="/notification" class="notifa">
              <i class="fas fa-bell"></i>
              <span class="notifnav-item">Notifications</span>
            </a>
          </li>
          <li><a href="/MyGigs" class="notifa">
              <i class="fas fa-thumbs-up"></i>
              <span class="notifnav-item">My Gigs</span>
            </a></li>
          <li><a href="/FollowedGigs" class="notifa">
              <i class="fas fa-thumbs-up"></i>
              <span class="notifnav-item">Followed Gigs</span>
            </a></li>
        
          <li><a href="/client-offers" class="notifa">
              <i class="fas fa-user"></i>
              <span class="notifnav-item">Offered Gigs</span>
            </a></li>
        
          <li><a href="/running-gigs" class="notifa">
              <i class="fas fa-user"></i>
              <span class="notifnav-item">Running Gigs</span>
            </a></li>
        
          <li><a href="/HiredGigs" class="notifa notifa-active">
              <i class="fas fa-user"></i>
              <span class="notifnav-item">Hired Gigs</span>
            </a></li>
          <% if(user.is_admin==true) { %>
            <li><a href="/unapproved-gigs" class="notifa">
                <i class="fas fa-users"></i>
                <span class="notifnav-item">Approve Gigs</span>
              </a></li>
            <li><a href="/reported-gigs" class="notifa">
                <i class="fas fa-users"></i>
                <span class="notifnav-item">Reported Gigs</span>
              </a></li>
            <li><a href="/delete-requests" class="notifa">
                <i class="fas fa-users"></i>
                <span class="notifnav-item">Delete Requests</span>
              </a></li>
            <li><a href="/edit-requests" class="notifa">
                <i class="fas fa-users"></i>
                <span class="notifnav-item">Edit Requests</span>
              </a></li>
            <li><a href="/users" class="notifa">
                <i class="fas fa-users"></i>
                <span class="notifnav-item">Users</span>
              </a></li>
            <li><a href="/register-admin" class="notifa">
                <i class="fas fa-users"></i>
                <span class="notifnav-item">Add Admin</span>
              </a></li>
            <% } %>
        </ul>
        </div>

              <section class="main">
              
              
              
              
                <section class="main-course">
                  <!-- <h1><b>My Story</b></h1> -->
                  <div class="course-box">
                    <ul>
              
                    </ul>
                    <div class="course">
              
                      <div class="activity-data">
                        <div class="data names">
                          <span class="data-title"><b class="boldName"><u></u>Hired Gigs</b></span>
                          <div class="col-md-12">
              
                            <div class="row justify-content-between expand">
              
                              <div class="col-4 me-4">
                                <h4 class="boldforName ">Gig Title</h4>
                              </div>
                              <div class="ms-5 col-4 ">
                                <h4 class="boldforName">Freelancer</h4>
                              </div>
                              <div class="ms-5 col-2 ">
                                <h4 class="boldforName">My Offer</h4>
                              </div>
                              <div class="col-2">
                                <h4 class="boldforName">Status</h4>
                              </div>
                            </div>
              
                            <% if(offers.length==0) { %>
                              <p>No running gigs</p>
                              <% } else {%>
                                <% for (let i=0; i < offers.length; i++) { %>
                                  <div class="row justify-content-between expand">
                                    <div class="col-4 ">
                                      <a href="/browse-gigs/<%=offers[i].gig_id%>" class="text-black">
                                        <%=offers[i].title%>
                                      </a>
                                    </div>
              
                                    <div class="col-4 ">
                                      <a href="/user/<%=offers[i].freelancer_email%>" class="text-black">
                                        <%=offers[i].freelancer_name%>
                                      </a>
                                    </div>
              
              
              
              
                                    <div class="col-md-3 review-btn">
              
                                      <button type="submit" class="btn btn-dark report-btn"><a
                                          href="/running-gig/view/<%=offers[i].offer_id%>">View Offer
                                        </a></button>
              
                                    </div>
                                  </div>

                                  <div class="col-md-2 ">
                                    <% if(offers[i].status==='COMPLETED'){%>
                                    <a href=""><%=offers[i].status%></a>
                                    <%} else {%>
                                    <p><%=offers[i].status%></p>
                                    <%} %>
                                  </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <hr>
                            </div>
                          </div>
                          <% } %>
                            <% } %>
                         
                        </div>
              
                      </div>
                    </div>
                  </div>
                  </div>
                </section>
              </section>
              </div>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
  </body>